<h1> Ordering Page </h1>
<% if (user) { %>
  <div>
    <a href="/">Index</a>
  </div>
<% } %>
<ul>
    <% hhh.forEach((oneProduct) => { %>

        <h2> <%= oneProduct.name %> </h2>
        <p>  <%= oneProduct.price %> </p>
        <p><img src=  <%= oneProduct.imageUrl %> ></p>
    
          <% }) %>
        </ul>
